<a href="https://colab.research.google.com/github/bruna-vb/br-python-challenges/blob/master/Desafio_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Desafio 2

Escreva uma função que recebe um número inteiro de horas e a converte em segundos.

Exemplo:

convert(5) ➞ 18000

convert(3) ➞ 10800

convert(2) ➞ 7200

In [2]:
def convert_to_sec(number):
  convert = (number) * 3600
  print(convert)

In [3]:
convert_to_sec(2)

7200